# Root Environment Variables
APP_NAME="Library Web Application"
NODE_ENV=development

# Backend Configuration
BACKEND_PORT=5000
BACKEND_URL=http://localhost:5000

# Frontend Configuration
FRONTEND_PORT=3000
FRONTEND_URL=http://localhost:3000

# Database Configuration
DB_HOST=localhost
DB_PORT=27017
DB_NAME=library_db
MONGODB_URI=mongodb://localhost:27017/library_db
